body {
    font-family: 'poppins-bold', sans-serif !important;
}
.nav {
    align-items: end;
    justify-content: end;
    width: 100%;
    }
    
    .login-form{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
        background: #f1f3f4;
        margin: -10px -6px !important;
    }
    .login-form .input-group .fa-eye {
    position: absolute;
    right: 10px;
    font-size: 20px;
    top: 12px;
    z-index: 9999;
    }
    .login-form button.btn.btn-primary {
    font-size: 21px;
    padding: 9px 30px;
    background: #27310c;
    width: 100%;
    }
    .login-form .input-group .fa {
    font-size: 24px;
    }
    .login-form .input-group input {
        border-radius: 8px !important;
        padding: 26px 8px !important;
        font-size: 20px !important;
    }
    .nav-item a.nav-link {
        margin: 26px 0 0 11px;
        padding: 2px 10px;
        font-size: 25px;
        border-radius: 10px;
        background: #8b8b8b;
    }
    .nav-item a.nav-link:hover{
        background-color: #007bff;
    }
  .copyright a:hover{
        text-decoration: none;
    }
    i#togglePassword {
        position: absolute;
        right: 8px;
        top: 45px;
        font-size: 22px;
        z-index: 9999;
    }
    a:hover{
        text-decoration: none;
    }
   

    #leftsidebar {
        background: #27310c;
        height: 100%;
        font-family: poppins;
        overflow-x: hidden;
    }
    section.content {
        font-family: poppins;
    }
    .modal-dialog {
        max-width: 840px;
    }
    body {
    font-family: 'poppins-bold', sans-serif !important;
}
tbody {
    font-size: 14px;
}
    table.dataTable thead>tr>th.sorting_asc,
    table.dataTable thead>tr>th.sorting_desc,
    table.dataTable thead>tr>th.sorting,
    table.dataTable thead>tr>td.sorting_asc,
    table.dataTable thead>tr>td.sorting_desc,
    table.dataTable thead>tr>td.sorting {
        padding: 13px 00 13px 6px;
    font-size: 15px;
    text-align: center;
    position: sticky; 
    top: 0; 
    z-index: 100; 
    }
    .table-responsive{
    display: revert-layer;
}

    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc_disabled:before {
        right: 1em;
        content: unset !important;
    }

    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:after {
        right: 0.5em;
        content: unset !important;
    }
    table.dataTable thead .sorting {
    background-image: unset;
}
#dataTable_filter {
    margin-top: 10px;
}
#dataTable_length{
    margin-top: 10px;
}
.theme-blush .sidebar .menu .list li.active>:first-child i,
    .theme-blush .sidebar .menu .list li.active>:first-child span {
        color: #a6ce3a;
        font-weight: unset;
    }
    .block-header h2{
        font-weight: unset;
    }
    .theme-blush .sidebar .menu .list a:hover {
        color: #a6ce3a;
    }
    .theme-blush .nav-tabs .nav-link.active {
        border: 1px solid #ccc !important;
    border-radius: 6px;
    background: #263544;
    color: #fff !important;
}
.theme-blush .nav-tabs .nav-link.active {
        border: 1px solid #ccc !important;
    border-radius: 6px;
    background: #263544;
    color: #fff !important;
}
.theme-blush .nav-tabs .nav-link:hover {
        border: 1px solid #ccc !important;
    border-radius: 6px;
    background: #263544;
    color: #fff !important;
}
.theme-blush .nav-tabs .nav-link {
    border: 1px solid #ccc !important;
    border-radius: 6px;
    background: #a5a5a5;
    color: #fff !important;
}
.content .body_scroll .nav {
    padding: 0 0 4px 0;
    margin-bottom: 9px;
    background: #d9d9d9;
}
    .theme-blush .sidebar .menu .list li.active {
        background-color: rgb(79 89 54);
        border: 1px solid #555;
        border-radius: 21px;
    }

    .sidebar .menu .list a:hover {
        padding: 6px 10px;
        font-size: 17px;
    }
    .sidebar .menu .list{
        width: 100%;
    }
    .sidebar .menu .list li:hover {
        background-color: rgb(79 89 54);
        border: 1px solid #555;
        border-radius: 21px;
        margin-bottom: 8px;
    }

    .theme-blush .sidebar .menu .list li.active.open a img {
        border: 3px solid #555;
        border-radius: 50px;
    }

    .block-header {
    padding: 16px 15px !important;
    background: #27310c;
    color: #fff;
}
    .sidebar .menu .list a {
        color: #fff3f3;
        padding: 6px 10px;
        font-size: 17px;
    }

    .sidebar .menu .list li {
        margin-bottom: 8px;
        padding: 6px 0;
    }

    .sidebar .user-info {
        position: unset;
        display: unset;
        border-bottom: none;
    }
    #leftsidebar i.zmdi.zmdi-menu {
    font-size: 28px;
}
    .navbar-brand {
        border-bottom: unset;
        display: unset;
    }

    .detail {
        color: #fff;
    }
    .detail h4 {
    color: #fff;
    font-weight: bold;
}
    .user-info img {
        width: 100%;
        text-align: center;
        margin-top: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .user-info img {
    width: 46%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 12px 99px;
}


    #leftsidebar button.btn-menu.ls-toggle-btn {
        position: absolute;
        right: 7px;
        background: no-repeat;
        border: none;
        color: #ffff;
        z-index: 999;
        top: 12px;
    }

    #menu-btn{
  background-color:#fff;
  border:none;
  width:25px;
  position:absolute;
  left:20px;
  top:20px;
  span{
    display:inline-block;
    width:100%;
    height:1px;
    border-bottom:2px solid black;
    margin-bottom:2px;
  }
}
aside{
  position:fixed;
  left:0;
  top:0;
  bottom:0;
  height:100vh;
  width:10%;
  background-color:#dedede;
  ul{
    list-style:none;
    padding:10px 20px;
    li{
      margin-bottom:30px;
      text-align:left;
      span{
        margin-left: 11px;
      }
        a{
          text-decoration:none;
          color: #000;
          }
    }
  }
}
aside.shrink{
  width:4%;
  ul{
    li{
      span{
        display:none;
      }
    }
  }
}


/* Add styles to hide the user info section initially */
.user-info.hide {
    display: none;
}

.theme-blush .sidebar .menu .list li.active.no-border {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 21px;
}

.theme-blush .sidebar .menu .list li.active.no-border:hover {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 21px;
}
.user-info.hide small {
    display: none;
}
.card-header {
    background-color: #555555 !important;
    margin-bottom: 15px !important;
    padding: 0.55rem 1.25rem;
}
 .card-header h3 {
    font-size: 18px;
    text-align: center;
}
.card-body .form-group {
    margin: 4px 0 17px 0;
}
.card-body .form-group label {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 13px;
    color: #4a4a4a;
}
.card-body .form-group .form-control {
    height: 28px !important;
    font-size: 11px;
}
.card-body {
    padding: 0 20px;
    text-align: left !important;
}
th {
    background: #263544 !important;
    font-size: 15px;
    color: #fff;
}
thead {
    background: #263544 !important;
    font-size: 15px;
    color: #fff;
}
.table-responsive {
    max-height: 73vh;
    overflow-y: auto; 
}

thead th {
    position: sticky;
    top: 0;
    z-index: 10; 
    border-bottom: 1px solid #dee2e6; 
}

.table th, .table td {
    white-space: nowrap; 
}
.sidebar .menu {
    position: relative;
    top: 21px;
}
button.btn.btn-primary {
    background: #555555;
    border: none;
}
button.dt-button {
    background: #ccc  !important;
}
